body{
  background-color: #e2dddd;
}
.logo{
  height: 50px;
  /* max-height: 100px; */
  /* height: auto;  */
}

@media screen and (min-width: 768px){
  .logo{
    height: 80px;
  }
}

@media screen and (min-width: 992px){
  .logo{
    height: 100px;
  }
}